.edit-bookmark-form {
    text-align: left;
  }
  
  .edit-bookmark-form input,
  .edit-bookmark-form textarea {
    display: block;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 15px;
    /* minus side padding and border */
    width: calc(100% - 16px - 2px);
    padding: 5px 8px;
    border: 1px solid #ddd;
  }
  
  .edit-bookmark-form label {
    margin-top: 10px;
  }
  
  .EditBookmark__buttons {
    text-align: center;
  }
  
  .edit-bookmark-required {
    color: #a51414;
  }
  
  .edit-bookmark-error p {
    color: #a51414;
    margin-bottom: 5px;
  }